<form action="/bookmarks" method="post">
  <input type="text" name="url" placeholder="add URL" />
  <input type="text" name="title" placeholder="add Title" />
  <input type="submit" value="Submit" />
</form>